body {
  font-family: 'Roboto Mono', monospace;
  margin-left: 9.86vw;
  margin-right: 9.86vw;
  margin-top: 5.92vw;
}

p {
  font-size: 1.45vw;
}

#container {
  max-width: 60vw;
  margin: auto;
}

#Title {
  margin-left: 2.92vw;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 3.5vw;
  margin-top: 0.97vw;
}

#Logo {
  height: 15vw;
  min-height: 15vw;
}

h2 {
  font-size: 2.5vw;
  font-weight: normal;
  margin-top: 0.97vw;
  color: #4a4a4a;
}

#Navigation {
  margin-top: 2vw;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#Navigation li {
  padding: 0 1.44vw 0 1.44vw;
  display: inline-block;
  font-size: 1.75vw;
}

a {
  text-decoration: none;
  text-decoration: underline;
  color: black;
}

#bio {
  margin-top: 2vw;
}
