@media screen and (max-width: 1023px) {
  body {
    margin-left: 5.55vw;
    margin-right: 5.55vw;
  }

  #Header-Mobile {
    display: block;
    text-align: center;
  }

  h1 {
    font-size: 11.11vw;
    margin-top: 3.90vw;
  }

  h2 {
    font-weight: normal;
    font-size: 6.66vw;
    margin-top: 3.90vw;
    color: #4A4A4A;
  }

  #Logo {
    display: block;
    width: 49.16vw;
    height: 49.16vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.90vw;
  }
}
